{% extends "core/layout.html" %}
{% load i18n %}

{% block title %}
    {% trans "Security" %}
{% endblock%}

{% block body%}
    <main class="settings">
        {% include 'modules/options.html'%}
        <section class="settings__security">
            <h3>{% trans 'Change password' %}</h3>
            <form method="post">
                {% csrf_token %}
                <div class="form">
                    <input type="password" name="old_password" class="form__input" placeholder=" " id="id_old_password">
                    <label for="id_old_password" class="input__label">{% trans 'Old Password' %}</label>
                </div>
                <div class="form">
                    <input type="password" name="new_password1" class="form__input" placeholder=" " id="id_new_password1">
                    <label for="id_new_password1" class="input__label">{% trans 'new password' %}</label>
                </div>

                <div class="form">
                    <input type="password" name="new_password2" class="form__input" placeholder=" " id="id_new_password2">
                    <label for="id_new_password2" class="input__label">{% trans 'Confirm new password' %}</label>
                </div>

                <div class="two-options">
                    <a href="" class="btn--special">Forgot password?</a>
                    <input type="submit" value="Update" class="btn">
                </div>
            </form>
            
            {% for field in form %}
                {% for error in field.errors %}
                    <p>{{ error }}</p>
                {% endfor %}
            {% endfor %}
        </section>
    </main>
{% endblock%}