{% load static %}
{% load i18n %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Password reset</title>
</head>
<body>
    <div class="password-reset">
        <div class="password-reset__content">
            <h1>Password Reset</h1>
            <p>Forgotten your password? Enter your email address below, and we’ll email instructions for setting a new one.</p>
            <form action="{% url 'password_reset' %}" method="post">
                {% csrf_token %} 
                <div class="form__div">
                    <input type="email" name="email" id="email" placeholder=" " class="" required>
                    <label for="email" class="form__label">email</label>
                </div>
                <button class="btn btn--round">Reset my password</button>
            </form>
        </div>
    </div>
</body>
</html>