{% extends "core/layout.html" %}

{% block title %}
    Reset password
{% endblock%}

{% block body%}
    <div>
        <h1>Enter new password</h1>
        <form method="POST">
            {% csrf_token %}
            <input type="password" name="new_password1" class="" placeholder="new password" required maxlength="100" minlength="8">
            <input type="password" name="new_password2" class="" placeholder="confirm password" required maxlength="100" minlength="8">
            
            {% for field in form %}
                {% for error in field.errors %}
                    <p>Error: {{ error }}</p>
                {% endfor %}
            {% endfor %}

            <button type="submit">Change my password</button>
        </form>
    </div>
{% endblock%}