$bg: #fff;
$bg-secondary: #fafafa;
$color: #222;
$color-secondary: #fafafa;
$color-third: #8C8C8C;
// $third-clr: #4788ff;
$third-clr: #5016f0;
$danger-clr: #ff4747;

$border-radius: 8px;
$transition-time: .4s;