// $bg: #fff;
// $bg-secondary: #f8f8f8; // fafafa
$bg: #f8f8f8;
$bg-secondary: #fff;
$color: #222;
$color-secondary: #fafafa;
$color-third: #8C8C8C;
// $third-clr: #4788ff;
$third-clr: #5016f0;
$danger-clr: #ff4747;
$explore-item-colors: #7723ff, #ff8d23, #7c541f, #2370ff, #1097f1, #be1c1c, #ff235a #3c608a;

$border-radius: 8px;
$input-border-radius: 8px;
// $border-radius: 8px;
$transition-time: .4s;