@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100;400;700&display=swap");
@import "utils/variables";
// @import "utils/variables-dark";

/* =+=+=+=+=+= Mixins styles =+=+=+=+=+=*/
@mixin reset {
  border: none;
  background: none;
}

@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flexSpaceBetween {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* =+=+=+=+=+= General styles =+=+=+=+=+=*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

body {
  background-color: $bg;
  font-family: "JetBrains Mono", monospace;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

main {
  padding: 1rem;

  @media (min-width: 768px) {
    margin: 2rem 80px;
    padding: 0rem;
  }
}

hr {
  margin: 1rem 0;
}

/* Change the white to any color */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px $bg inset !important;
}

input {
  font-family: "JetBrains Mono", monospace;
}

.visible {
  display: block;
}

.hide {
  display: none;
}

.danger {
  color: $danger-clr;
}

.bold {
  font-weight: bolder;
}

.subtext {
  color: $color-third;
}

.section-name {
  font-weight: bolder;
  position: relative;
}

.section-name::before {
  content: '';
  display: block;
  position: absolute;
  top: 100%;
  width: 40px;
  border-radius: $border-radius;
  left: 0%;
  border-top: 3px solid $color;
}

.close {
}

.two-options {
  @include flexSpaceBetween();
}

.two-fields {
  @include flexSpaceBetween();

  .form {
    width: 49%;
  }
}

.form {
  position: relative;
  width: 100%;
  margin: 0.4rem 0;

  .form__input {
    border: 1.4px solid $color-third;
    border-radius: $input-border-radius;
    font-family: inherit;
    font-size: 1em;
    color: $color;
    outline: none;
    background: none;
    height: 100%;
    width: 100%;
    padding: 1rem;

    &:focus {
      border-color: $third-clr;
    }

    @media (min-width: 768px) {
      font-size: .9em;
      padding: 12px 2px 12px 20px;
    }
  }

  .input__label {
    background-color: $bg;
    position: absolute;
    padding: 0 0.4rem;
    font-size: 0.8em;
    color: $color;
    left: 0.5rem;
    top: 1.22rem;
    cursor: text;
    transition: all 200ms ease-in;

    @media (min-width: 768px) {
      top: .9rem;
    }
  }

  .form__input:focus ~ .input__label,
  .form__input:not(:placeholder-shown).form__input:not(:focus) ~ .input__label {
    top: -0.5rem;
    font-size: 0.8em;
    left: 0.5rem;
  }
}

.btn {
  background-color: $third-clr;
  border: none;
  padding: 1rem 12px;
  border-radius: $input-border-radius;
  color: $color-secondary;
  transition: all $transition-time ease-in-out;
  font-weight: bolder;
  cursor: pointer;

  &:hover {
    background-color: darken($color: $third-clr, $amount: 20);
  }

  @media (min-width: 768px) {
    padding: 12px;
  }
}

.btn--edit {
  border-radius: 2px;
  color: $color-secondary;
  background-color: $color;
  padding: 2px 10px;
}

.btn--tiritiary {
  background: none;
  color: $third-clr;
}

.btn:active {
  background-color: darken($color: $third-clr, $amount: 5);
  transform: scale(0.9);
}

.btn--secondary {
  border: 1px solid $third-clr;
  background-color: transparent;
}

.btn--follow {
  background-color: $color;
  border-radius: 8px;

  &:hover {
    background-color: lighten($color: $color, $amount: 10);
    box-shadow: 4px 4px 20px 1px #00000033;
  }
}

.btn--large {
  width: 100%;
}

.user-avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.subtitle,
.difficulty {
  color: $color-third;
  font-size: 0.9em;
}

/* =+=+=+=+=+= Burguer Icon styles =+=+=+=+=+=*/
#burger-icon {
  width: 28px;
  height: 28px;
  position: relative;
  // margin: 40px auto;
  transform: rotate(0deg);
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

#burger-icon span {
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background: $color;
  border-radius: 14px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: 0.25s ease-in-out;
}

#burger-icon span:nth-child(1) {
  top: 0px;
}

#burger-icon span:nth-child(2),
#burger-icon span:nth-child(3) {
  top: 12px;
}

#burger-icon span:nth-child(4) {
  top: 24px;
}

#burger-icon.burguer-open span:nth-child(1) {
  top: 15px;
  width: 0%;
  // left: 50%;
}

#burger-icon.burguer-open span:nth-child(2) {
  transform: rotate(45deg);
}

#burger-icon.burguer-open span:nth-child(3) {
  transform: rotate(-45deg);
}

#burger-icon.burguer-open span:nth-child(4) {
  top: 15px;
  width: 0%;
  // left: 50%;
}
/* =+=+=+=+=+= Nav && Header styles =+=+=+=+=+=*/
.menu {
  background-color: $bg-secondary;
  position: absolute;
  width: 70vw;
  height: 100vh;
  top: 0;
  left: -768px;
  padding: 2rem 0.4rem;
  text-align: center;
  font-size: 0.9em;
  z-index: 42;
  transition: all 0.4s ease-in-out;

  a {
    color: $color;
  }

  .nav__items {
    display: block;
  }

  .nav__item a {
    margin: 0 1rem;
  }

  .nav__item:last-child {
    position: absolute;
    bottom: 2rem;
  }

  li {
    text-align: left;
    display: flex;
    align-items: center;
    padding: 0.4rem;
    margin-bottom: 8px;
  }

  .menu__profile {
    margin-bottom: 2rem;
    display: block;
  }
}

.btn--lucky {
  display: none;
  max-height: 42px;
  transition: all $transition-time ease-in-out;
  border-radius: $border-radius;
  overflow: hidden;
  background-color: $third-clr;
  
  a {
    padding: 2px 8px;
    color: $bg;
    font-size: 0.9em;
  }

  img {
    width: 24px;
    margin-right: 15px;
  }

  @media (min-width: 768px) {
    display: block;
    a {
      @include flexCenter(); // show only on desktop
    }
  }
}

.open {
  display: block;
  left: 0px;
}

nav {
  @include flexSpaceBetween();
  // padding: 8px;
  padding: 1rem 1rem 0 1rem;

  .nav__items {
    display: none;
  }

  .logo {
    width: 28px;
    height: 28px;
    font-size: 1.5em;
  }

  #burger-icon {
    @include flexCenter();
    @include reset();

    img {
      width: 30px;
      height: 30px;
    }
  }

  @media only screen and (min-width: 768px) {
    background-color: $bg-secondary;
    position: fixed;
    top: 0;
    width: 55px;
    height: 100vh;
    display: flex;
    justify-content: center;

    .logo {
      width: auto;
      height: auto;
      position: absolute;
      top: 1rem;
      font-size: 1.2em;
    }

    a {
      @include flexCenter();
      padding: 0.4rem;
      margin: 5px 0;
      border-radius: 50%;
      width: 40px;
      height: 40px;
      transition: all $transition-time ease-in-out;
    }

    #burger-icon {
      display: none;
    }

    li:not(:last-child) a:hover,
    .active {
      background-color: transparentize($color: $third-clr, $amount: 0.5);

      #icon {
        fill: $third-clr;
        transition: all $transition-time ease-in-out;
      }
    }

    .nav__items {
      display: block;
    }

    .nav__item {
      @include flexCenter();

      &:last-child {
        position: absolute;
        bottom: 1rem;
      }
    }
  }
}

.header {
  padding: 1rem;
}

@media only screen and (min-width: 768px) {
  .header {
    margin: 0 80px;
    padding: 1rem 0;
    @include flexSpaceBetween();

    // a {color: $third-clr;}

    .search {
      width: 400px;
    }
  }

  .nav__items {
    display: block;
  }

  .menu,
  #burger-icon {
    display: none;
  }
}

@media (min-width: 768px) {
  .nav__items {
    display: block;
  }

  .menu,
  #burger-icon {
    display: none;
  }
}

.search {
  @include flexSpaceBetween();
  background-color: $bg-secondary;
  border-radius: $border-radius;

  .search__input {
    @include reset();
    height: 100%;
    width: 100%;
    padding: 16px 2px 16px 16px;
    font-weight: bolder;

    @media (min-width: 768px) {
      padding: 10px 2px 10px 16px;
    }
  }

  .search__btn {
    @include reset();
    @include flexCenter();
    padding: 6px 8px;
  }

  .search__icon {
    width: 28px;

    @media (min-width: 768px) {
      width: 20px;
    }
  }
}

.header__icons {
  ul {
    @include flexSpaceBetween();
  }

  .header__items {
    margin: 0 1rem;

    img {
      width: 30px;
      height: 30px;
    }
  }
}

.bell {
  @include flexCenter();
  position: relative;

  span {
    @include flexCenter();
    background-color: $third-clr;
    color: $color-secondary;
    border: 1px solid $bg-secondary;
    width: 18px;
    height: 18px;
    position: absolute;
    top: -6px;
    right: -6px;
    border-radius: 50%;
    font-size: 10px;
    padding: 2px;
  }
}

/* =+=+=+=+=+= Quiz Page styles =+=+=+=+=+= */
.quiz__top {
  @include flexSpaceBetween();
  // background-color: rebeccapurple;
}

#myProgress {
  width: 85%;
  height: 16px;
  border-radius: 50px;
  background-color: #c9c9c9;
  overflow: hidden;
  grid-column: 1;
  grid-row: 1;
  z-index: 100;
  
  #myBar {
      position: relative;
      width: .5%;
      height: 16px;
      border-radius: 50px;
      background-color: $third-clr;
      transition: width .6s ease-in-out;
  }
  
  #bar-decoration {
      position: absolute;
      background: #fff;
      text-align: center;
      opacity: .1;
      width: 96%;
      height: 30%;
      left: 0;
      right: 0;
      margin-left: auto;
      margin-right: auto;
      border-radius: inherit;
      top: 4px;
  }
}

// =+=+=+=+= Questions =+=+=+=+=
.quiz {
  max-height: 100vh;

  .quiz__top {height: 8vh;}

  .question__content {height: 75vh;}

  .question__text {margin: 2rem 0;}

  .btn {width: 100%}

  .btn--tiritiary {display: none}

  .quiz__btn {
    button {
      font-weight: bolder;
      font-size: 1em;
      padding: .6rem 1.6rem;
    }
  }

  @media (min-width: 768px) {
    .quiz__btn {
      @include flexSpaceBetween();
    }

    .btn {max-width: 200px;}
    .btn--tiritiary {display: block;}

    .question__content {height: 70vh;}
  }

  // =+=+=+=+= Answers =+=+=+=+=
  .answer {
      background-color: $bg-secondary;
      margin: .6rem 0;
      border-radius: $border-radius;
      width: 100%;
      display: block;
      padding: 1rem;
      cursor: pointer;
  
      .answer__number {
          @include flexCenter();
          border: 1.6px solid $color-third;
          color: $color-third;
          display: inline-flex;
          font-size: .8em;
          width: 19px;
          height: 19px;
          border-radius: 5px;
      }
  
      input {display: none;}
  
      @media (min-width: 768px) {width: 40%;}
  }

  .answer.selected {
      background-color: transparentize($color: $third-clr, $amount: .8);
      border: none;
      transition: all .2s ease-in-out;
  }
}
// ====== Home styles=======
.quizes .card {
  margin: 10px auto;
}

.quizes .card {
  margin-right: 1rem;
}

.card {
  background-color: $bg-secondary;
  border-radius: $border-radius;
  transition: all $transition-time ease-in-out;
  position: relative;
  width: 250px;
  -webkit-user-drag: none;
  user-drag: none;
  height: 300px;
  user-select: none;
  border-radius: 10px;
  display: inline-block;
  margin: 0 4rem 0 0;
  transition: all 0.2s ease-out;
  transform: scale(1);

  &:hover {
    transform: translateY(-10px);
    box-shadow: 4px 4px 20px 1px #00000033;
  }

  p,
  span,
  .btn {
    font-size: 0.9em;
    white-space: normal !important;
  }

  .card__cover {
    width: 100%;
    height: 130px;
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
  }

  .card__info {
    padding: 0.8rem;
    position: absolute;
    bottom: 0;
    width: 100%;

    .card__title {
      margin: 0;
    }

    p {
      margin: 0.8rem 0 1.4rem 0;
    }
  }

  .btn {
    padding: 8px 24px;
  }

  @media (min-width: 768px) {
    width: 260px;
  }
}

.card__bottom {
  @include flexSpaceBetween();
}
// ===============================================================================
.carousel-wrapper {
  display: flex;
  justify-content: space-between;
  gap: 0.5em;
  // max-width: 800px;
  width: 100%;
}
.wrapped-container {
  display: flex;
  overflow: hidden;
  width: 95%;
  justify-content: center;
}

.carousel {
  width: 100%;
  height: 100%;
  position: relative;
  overflow-y: hidden;
  display: flex;
  gap: 1em;
  scrollbar-width: none;
  padding: 1.4rem 0.8rem;
}

.carousel {
}

.arrows {
  width: 20px;
  height: 45px;
  outline: none;
  border: none;
  // background-color: #5e4c5a;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  opacity: 1;
  cursor: pointer;
  transition: all 0.1s ease;
  padding: 0;
  pointer-events: all;
}
.arrows:hover {
  // background-color: #5e4c5a;
  transform: scale(1.1);
}
.arrows svg {
  width: 1.5em;
  height: 1.5em;
  fill: $color;
}
.arrow-inactive {
  opacity: 0.5;
  cursor: auto;
}
.arrow-inactive:hover {
  transform: none;
}
.carousel-item {
  width: 270px;
  height: 300px;
}
.carousel-item img {
  border-radius: 10pt;
}
.carousel-wrapper ::-webkit-scrollbar {
  height: 0px;
}

// =+=+=+=+= Explore Section =+=+=+=+=
.explore {
  .explore__category {
    width: 100%;
    height: 60px;
    overflow: hidden;
    margin-bottom: 5rem;
  }
  
  .category__items {
    height:90px; /* 40px - more place for scrollbar, is hidden under parent box */
    padding:5px;
    white-space:nowrap;
    overflow-x: scroll;
    overflow-y: hide;
	  -webkit-overflow-scrolling:touch;
  }

  .explore__item {
    background-color: $bg-secondary;
    color: black;
    margin-right: .5rem;
    border-radius: $border-radius;
    transition: all $transition-time ease-in-out;
    display:inline-block;
    text-align:center;
    overflow: hidden;

    a {
      padding: 10px 15px;
      display: block;
      color: $color;
      width: 100%;
      height: 100%;
    }

    @media (min-width: 768px) {
      // width: 16%;
    }
  }

  .explore__item:hover {
    filter: brightness(75%);
  }
}

.explore__item.active {
  background-color: $color;
  a {
    color: $bg;
  }
}

// =+=+=+=+= Settigs Section =+=+=+=+=
.settings {
  // @include flexSpaceBetween();
  // display: flex;
  // align-items: baseline;

  .section-name {
    margin: 2rem 0;
    // display: none;

    // @media (min-width: 768px) {
    //   display: block;
    // }
  }

  .btn {margin: .4rem 0;}

  .settings__account,
  .settings__security,
  .settings__theme {
    width: 100%;

    @media (min-width: 768px) {
      max-width: 45%;
      margin: 0 4rem;
    }
  }

  .settings__avatar {
    display: flex;
    align-items: center;
  }

  .avatar {
    margin: 2rem 1.5rem 2rem 0;
    position: relative;
    width: 80px;
    height: 80px;

    img {
      width: 80px;
      height: 80px;
      border-radius: 50px;
    }

    .btn {
      position: absolute;
      bottom: 5px;
      right: -10px;
    }
  }
}

.settings__account {
  section {
    margin: 1rem 0;
  }

  .account__delete p {
      margin: 1rem 0 2rem 0;
  }
}

.options {
  // display: none;
  width: 100%;

  .options__item {
    margin: 10px 0;
    background-color: $bg-secondary;
    padding: 12px;
    border-radius: $border-radius;

    .icon {
      margin-right: 1rem;
    }
  }

  .current {
    background-color: transparentize($color: $third-clr, $amount: .6);
    a {
      color: $bg;
    }
  }

  
  @media (min-width: 768px) {
    width: 35%;
    display: block;
    
    .options__item {
      display: flex;
      align-items: center;
    }
  }
}

// =+=+=+=+= Profile Section =+=+=+=+=
.profile {

  .section-name {
    margin: 0;
  }

  @media (min-width: 1024px) {
    display: flex;
  }
}

.profile__main {
  background-color: $bg-secondary;
  height: 100vh;
  width: 100%;
  position: relative;
  border-radius: $border-radius;
  overflow: hidden;

  @media (min-width: 1024px) {
    width: 35%;
  }
}

.cover {
  width: 100%;
  height: 30%;
}

.profile__pic {
  position: absolute;
  left: 15px;
  top: 100px;
  width: 120px;
  height: 120px;
  border-radius: $border-radius;
  border: 3px solid $bg-secondary;

  @media (min-width: 1024px) {
    top: 140px;
  }
}

.profile__info {
  padding: .2rem 1rem 1rem 1rem;

  h1 {
    font-size: 1.3em;
  }
}

.profile__right {
  margin-left: 130px;
}

.profile__social {
  padding: 2rem 0;
  
  .follows-count {
    padding: 1rem 0;
    display: flex;

    span {
      margin: 0 20px;
    }
    // @include flexSpaceBetween();
    // max-width: 90%;

    // @media (min-width: 768px) {
      // max-width: 40%;
    // }
  }
}

.profile__results {
  margin: 2rem 0;
  p {
    margin: 1rem 0;
  }

  @media (min-width: 1024px) {
    margin: 0 2rem;
  }
}

.results__card {
  background-color: $bg-secondary;
  max-width: 100%;
  padding: 1rem;
  border-radius: $border-radius;
  margin: 1rem 0;
  transition: all $transition-time ease-in-out;
  cursor: pointer;

  p {
    padding: .8rem 0;
  }

  &:hover {
    box-shadow: 4px 4px 20px 1px #00000033;
  }
}
// =+=+=+=+= Footer Section =+=+=+=+=
.footer {
  padding: 1rem;
  .footer__content,
  .footer__bottom {
    // @include flexSpaceBetween();
    padding: 1rem 0;
  }

  .left p {
    max-width: 300px;
    margin: 1.6rem 0;
  }

  .social {
    @include flexSpaceBetween();
    max-width: 200px;
    padding: 8px 0;

    .social__item .social__icon {
      width: 24px;
      height: 24px;
    }
  }

  .footer__bottom {
    text-align: center;
    font-size: 0.81em;
  }

  .footer__lang {
    display: none;
  }
}

@media (min-width: 768px) {
  .footer {
    margin: 4rem 80px 1rem 80px;

    .footer__content,
    .footer__bottom {
      @include flexSpaceBetween();
      padding: 1rem 0;
    }

    .footer__content {
      align-items: initial;
    }

    .social {
      @include flexSpaceBetween();
      padding: 8px 0;

      .social__item {
        margin: 0 1rem;
      }
    }

    .social__icon {
      transition: all $transition-time ease-in-out;
    }

    .social__icon:hover {
      transform: scale(1.2);
    }

    .footer__lang {
      display: block;
    }
  }
}

.icon--animation {
  transition: all $transition-time ease-in-out;
}

.icon--animation:hover {
  transform: scale(1.2);
}

// .footer {
//   margin: 2rem 80px;

//   .footer__content,
//   .footer__bottom {
//     @include flexSpaceBetween();
//     padding: 1rem 0;
//   }

//   .footer__content {
//     align-items: initial;
//   }

//   .left p {
//     max-width: 300px;
//     margin: 1rem 0;
//   }

//   .social {
//     @include flexSpaceBetween();
//     padding: 8px 0;

//     .social__item {
//       margin: 0 1rem;
//     }
//   }

//   .social__icon {
//     transition: all $transition-time ease-in-out;
//   }

//   .social__icon:hover {
//     transform: scale(1.2);
// }
