{% extends 'core/layout.html' %}
{% load static %}
{% load i18n %}

{% block title %}
    Explore
{% endblock title %}

{% block body %}
<main class="explore">
  <section class="explore__category">
    <section class="category__items">
      {% for category in categories %}
      <li class="explore__item {% if category.0 == 'general' %} active {% endif %}">
        <a href="{% url 'category' category.0 %}">{{ category.0 }}</a>
      </li>
      {% endfor %}
    </section>
  </section>
  <section>
    <p>Explore</p>
    <div class="quizes">
      {% for quiz in quizes %} {% include 'modules/card.html' %} {% endfor %}
    </div>
  </section>
</main>
{% endblock body %}
