{% extends 'core/layout.html' %}
{% load static %}
{% load i18n %}

{% block title %}
    Login
{% endblock title %}

{% block body %}
    <section class="auth">
        <form action="{% url 'login' %}" method="post">
            {% csrf_token %} 
            <li>
                {{ form.username }}
            </li>
            <li>
                {{ form.password }}
            </li>
            <li>
                <button type="submit" class="btn btn--large">Login</button>
            </li>
        </form>

        {% if error %}
            <p>{{ error }}</p>
        {% endif %}

        <div>
            <a href="{% url 'password_reset' %}">{% trans 'Forgot Password?' %}</a>
        </div>
    </section>
{% endblock body %}