{% extends 'core/layout.html' %}
{% load static %}
{% load i18n %}

{% block title %}
  @{{ profile.username }}
{% endblock title %}

{% block body %}
    <main class="profile">
        <section class="profile__main">
          <img src="{% static 'img/cover-test.webp' %}" alt="{{profile.username}}'s cover image" class="cover">
          <img src="{% static 'img/'|add:profile.avatar|add:'.png' %}" alt="Profile Picture" class="profile__pic">
        <!-- </div> -->

          <div class="profile__info"> <!-- marks -->
            <div class="profile__right">
              <h1>David Vital</h1>
              <p class="subtext">@{{ profile.username }}</p>
            </div>
            <div class="profile__social">
              {% if request.user == profile %}
                <button class="btn btn--large btn--follow">Edit Profile</button>
              {% else %}
                {% if profile in request.user.following.all %}
                  <button class="btn btn--secondary btn--large btn--follow">Unfollow</button>
                {% else %}
                  <button class="btn btn--large btn--follow">Follow</button>
                {% endif %}
              {% endif %}
                <div class="follows-count">
                  <p><strong>{{ profile.following.count}}</strong> following</p>
                  <span>&bull;</span>
                  <p><strong>{{ profile.followers.count}}</strong> followers</p>
                </div>
              </div>
          </div>
        </section>

        <section class="profile__results">
          <p class="section-name">Results</p>
          {% for result in results %}
            {% include 'modules/results-card.html' %}
          {% endfor %}
        </section>
        <!-- <section>
          <header>

          </header>
        </section> -->
    </main>
{% endblock body %}
